.Adalab {
    background-color: aqua;
}

.tittle {
    background-color: blueviolet;
}

.main {}

.text1 {
    background-color: rgb(43, 226, 58);
    padding-left: 50px;
    margin: 300px;

}

.text2 {
    background-color: coral;
    padding-left: 50px;
    margin: 300px;

}

.logo-adalab {
    background-color: brown;
    padding-right: 0px;
    text-align: right;
}